<div class="flex-container">
  <div class="left-half-container">
  <h3>Album van de week</h3>
  <h1>aespa:<br> Drama - The 4th Mini Album</h1>
  <button type="button">Koop nu</button>
  </div>
  <div class="right-half-container">
    <img src="../../assets/aespa-drama.png">
  </div>
</div>
<div class="bottom-bar">
  <div class="scrolling-text">
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
  </div>
</div>
