<div class="flex-container">
  <div class="left-half-container">
  <h1>{{ 'AOTW.TITLE' | translate }}</h1>
  <h3>aespa:<br> Drama - The 4th Mini Album</h3>
  <button type="button" [routerLink]="['/products/8']">{{ 'AOTW.BUY_NOW' | translate }}</button>
  </div>
  <div class="right-half-container">
    <img src="../../assets/aespa-drama.png" alt="Foto van leden van de groep Aespa">
  </div>
</div>
<div class="bottom-bar">
  <div class="scrolling-text">
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
    <span>Melodia Records</span>
  </div>
</div>
