<div class="product-container">
  <img [src]="getImagePath(product.id) || '../../assets/UbermenschPINK.webp'" alt="Foto van {{ product.name }} {{ product.category.name }}">
  <div class="product-informatie">
    <h3 class="product-artiest">{{ product.artist.name }}</h3>
    <h2 class="product-naam">{{ product.name }}</h2>
    <h3 class="product-prijs">{{ product.price | currency:"EUR":"symbol":"1.2-2" }}</h3>
    <button class="koopbutton" (click)="addToCart()">In winkelwagen</button>
    <a class="detailslink" routerLink="/products/{{ product.id }}">
    <button class="detailsbutton">Meer info</button>
    </a>
  </div>
</div>
