<div class="header-container">
  <div class="header-content">
    <div class="nav-brand">
      <span class="material-symbols-outlined">album</span>
      <a routerLink="/">Melodia Records</a>
    </div>

    <div class="nav-links">
      <div class="search-container">
<!--        <span class="material-icons search-icon">search</span>-->
<!--        <input class="searchbar" type="search" placeholder="Zoeken..">-->
      </div>
      <a class="account-icon" routerLink="/login">
        <span class="material-icons">person</span>
      </a>
      <a class="cart-icon" routerLink="/cart">
        <span class="material-icons">shopping_cart</span>
      </a>
    </div>
  </div>
</div>

<div class="sub-header-container">
  <div class="left-nav-links">
    <a href="/">All Products</a>
  </div>
  <div class="right-nav-links">
    <a href="/">CDs</a>
    <a href="/">Albums</a>
    <a href="/">Vinyl</a>
  </div>
</div>
