@use "../../variables" as *;

.header-container {
  height: 5.25rem;
  width: 100%;
  background-color: $secondary;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 100%;
  max-width: 1400px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  margin-left: 6rem;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;

  .material-symbols-outlined {
    font-size: 2.3rem;
    color: $primary;
    padding-right: 6px;
  }

  a {
    font-weight: 800;
    font-size: 1.6rem;
    color: $primary;
    text-decoration: none;
    display: block;

    &:hover {
      color: darken($primary-dark, 10%);
      cursor: pointer;
    }
  }
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-right: 6rem;

  .language-selector {
    display: flex;
    align-items: center;

    .flag-icon {
      width: 24px;
      cursor: pointer;
      border-radius: 4px;
      transition: transform 0.2s ease;
      margin-left: 20px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: darken($primary-dark, 10%);
      cursor: pointer;
    }
  }
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;

  .search-icon {
    position: absolute;
    left: 10px;
    color: #757575;
    font-size: 20px;
    z-index: 1;
  }
}
.searchbar {
  height: 2.4rem;
  width: 34rem;
  border-radius: 0.1rem;
  border-style: none;
  background-color: white;
  padding: 0 1rem;
  outline: none;
  padding-left: 35px;

  &:focus {
    border-style: solid;
    border-width: 2px;
    border-color: $secondary;
  }
}

.sub-header-container {
  height: 2.5rem;
  width: 100%;
  background-color: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;

  a {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;

    &:hover {
      color: darken(white, 15%);
      cursor: pointer;
    }
  }

  .left-nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 9rem;
  }

  .right-nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8.3rem;

    a {
      padding: 0.5rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav-brand {
    margin-left: -1rem;

    a {
      font-size: 1.3rem;
      align-content: center;
    }

    .material-symbols-outlined {
      font-size: 2.3rem;
      color: $primary;
      padding-right: 6px;
      align-content: center;
    }
  }

  .nav-links {
    margin-right: -0.5rem;
  }

  .sub-header-container {
    .left-nav-links {
      padding-left: 0;
    }

    .right-nav-links {
      padding-right: 0;
    }
  }


}
