<div class="header-container">
  <div class="header-content">
    <div class="nav-brand">
      <span class="material-symbols-outlined">album</span>
      <a routerLink="/">Melodia Records</a>
    </div>

    <div class="nav-links">
      <div class="search-container">
        <!--        <span class="material-icons search-icon">search</span>-->
        <!--        <input class="searchbar" type="search" placeholder="Zoeken..">-->
      </div>
      <div class="language-selector">
          <img src="../../assets/nl_flag.svg" alt="Dutch Flag" (click)="switchLanguage('nl')" class="flag-icon">
          <img src="../../assets/us_flag.svg" alt="English Flag" (click)="switchLanguage('en')" class="flag-icon">
      </div>
      <a class="account-icon" (click)="loginCheck('/profile')">
        <span class="material-icons">person</span>
      </a>
      <a class="cart-icon" (click)="loginCheck('/cart')">
        <span class="material-icons">shopping_cart</span>
      </a>
    </div>
  </div>
</div>

<div class="sub-header-container">
  <div class="left-nav-links">
    <a routerLink="/products">{{ 'HEADER.ALL_PRODUCTS' | translate }}</a>
  </div>
  <div class="right-nav-links">
    <a routerLink="/products" [queryParams]="{category: 'CD'}">{{ 'HEADER.CDS' | translate }}</a>
    <a routerLink="/products" [queryParams]="{category: 'Album'}">{{ 'HEADER.ALBUMS' | translate }}</a>
    <a routerLink="/products" [queryParams]="{category: 'Vinyl'}">{{ 'HEADER.VINYL' | translate }}</a>
  </div>
</div>
