@use "../../variables" as *;

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 80%;
  padding-left: 200px;

  h1 {
    padding-top: 80px;
    font-weight: 800;
    margin: 0;
  }

  .category-artist-row {
    display: flex;
    flex-direction: row;

    .category-h3 {
      padding: 5px 10px 6px;
      align-items: center;
      text-align: center;
      background-color: $secondary;
      color: $primary-dark;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
    }

    .artist-h3 {
      padding-top: 11px;
      padding-left: 20px;
      font-size: 0.95rem;

      .artist-highlight {
        color: $primary;
      }
    }
  }
}

.details-container {
  display: flex;
  flex-direction: row;

  .left-half-container {
    width: 60vw;

    img {
      padding-left: 200px;
      min-width: 600px;
      max-width: 800px;
    }
  }

  .right-half-container {
    width: 40vw;

    h3 {
      font-size: 0.95rem;
      font-weight: normal;

      .bold-highlight {
        font-weight: bold;
        color: $primary;
      }
    }

    h2 {
      margin-top: 20px;
      margin-bottom: -5px;
      font-size: 1.9rem;
      color: hsl(4 94% 47%);
    }

    .voorraad-p {
      font-size: 0.85rem;
      border: 1px solid $primary;
      text-align: center;
      width: 110px;
      padding: 2px 10px;
      color: $primary-dark;
    }

    .bestel-disclaimer {
      margin-top: -5px;
      font-size: 0.85rem;
      color: $primary-dark;
    }

    .verkoper-p {
      font-size: 0.85rem;
      color: black;
    }

    .description-p {
      max-width: 29vw;
      height: 24vw;
    }

    .cart-container {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .koopbutton {
        outline: 0;
        cursor: pointer;
        text-align: center;
        border: 0;
        padding: 7px 16px;
        min-height: 36px;
        min-width: 36px;
        color: white;
        background: $primary;
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
        margin-top: 10px;
        margin-bottom: 12px;
      }

      .quantity-dropdown {
        padding: 5px;
        padding-left: 22px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 14px;
        min-width: 60px;
        margin-right: 10px;
        height: 36px;
      }
    }
  }
}
