<div class="top-container">
  <h1>{{ product?.artist?.name }} - {{ product?.name }}</h1>
  <div class="category-artist-row">
    <h3 class="category-h3">{{ product?.category?.name }}</h3>
    <h3 class="artist-h3">Artiest(en): <span class="artist-highlight">{{ product?.artist?.name }}</span></h3>
  </div>
</div>

<div class="details-container">
<div class="left-half-container">
  <img [src]="getImagePath(product?.id) || '../../assets/UbermenschPINK.webp'" alt="Foto van {{ product?.name }} {{ product?.category?.name }}">
</div>

<div class="right-half-container">
  <h3>Genre: <span class="bold-highlight">{{ product?.genre?.name }}</span></h3>
  <h3>Drager: <span class="bold-highlight">{{ product?.category?.name }}</span></h3>
  <h2>{{ product?.price | currency:"EUR":"symbol":"1.2-2" }}</h2>
  <p class="voorraad-p">Op voorraad</p>
  <p class="bestel-disclaimer">Voor 23:59 besteld, morgen in huis</p>
  <p class="verkoper-p">Verkoop door Lutetia</p>

  <div class="cart-container">
    <select [(ngModel)]="quantity" class="quantity-dropdown">
      @for (option of quantityOptions; track option) {
        <option [value]="option">{{ option }}</option>
      }
    </select>
    <button type="submit" class="koopbutton" (click)="addToCart()">In winkelwagen</button>
  </div>
  <p class="description-p">{{ product?.description }}</p>
</div>
</div>
