<div class="title-container">
  <h1>{{ 'LOGIN.HELLO' | translate }}</h1>
</div>

<div class="flex-container">



  <div class="register-container">
    <h2>{{ 'LOGIN.REGISTER' | translate }}</h2>
    <p>{{ 'LOGIN.FIRST_TIME' | translate }}<br>{{ 'LOGIN.REGISTER_BENEFITS' | translate }}</p>
    <ul>
      <li>
        <span class="material-symbols-outlined">check</span>
        {{ 'LOGIN.DISCOUNT' | translate }}
      </li>
      <li>
        <span class="material-symbols-outlined">check</span>
        {{ 'LOGIN.ALL_INFO' | translate }}
      </li>
      <li>
        <span class="material-symbols-outlined">check</span>
        {{ 'LOGIN.VIEW_ORDERS' | translate }}
      </li>
    </ul>

    <button type="button" routerLink="/register">{{ 'LOGIN.REGISTER' | translate }}</button>
  </div>

  <div class="login-container">
    <h2>{{ 'LOGIN.WELCOME_BACK' | translate }}</h2>
    <p>{{ 'LOGIN.LOGIN_CREDENTIALS' | translate }}</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <p class="input-field">
        <label>{{ 'LOGIN.EMAIL' | translate }}<br></label>
        <input type="email" formControlName="email" placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}"
               [ngClass]="{'invalid-input': loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || formSubmitted)}">
        @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || formSubmitted)) {
          @if (loginForm.get('email')?.errors?.['required']) {
            <span class="error-text">{{ 'LOGIN.EMAIL_REQUIRED' | translate }}</span>
          }
          @if (loginForm.get('email')?.errors?.['email']) {
            <span class="error-text">{{ 'LOGIN.EMAIL_INVALID' | translate }}</span>
          }
        }
      </p>

      <p class="input-field">
        <label>{{ 'LOGIN.PASSWORD' | translate }}<br></label>
        <input type="password" formControlName="password" placeholder="{{ 'LOGIN.PASSWORD_PLACEHOLDER' | translate }}"
               [ngClass]="{'invalid-input': loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || formSubmitted)}">
        @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || formSubmitted)) {
          @if (loginForm.get('password')?.errors?.['required']) {
            <span class="error-text">{{ 'LOGIN.PASSWORD_REQUIRED' | translate }}</span>
          }
        }
      </p>

      @if (formState === 'error') {
        <div class="error-message">
          {{ errorMessage }}
        </div>
      }

      <button type="submit">{{ 'LOGIN.LOGIN_BUTTON' | translate }}</button>
    </form>
  </div>
</div>
