@use "../../variables" as *;

.title-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 71rem;

  h1 {
    font-weight: 900;
    font-size: 3.5rem;
    color: $primary-dark;
    margin: 3.5rem 0 0;
    padding-bottom: 2.5rem;
  }
}

h2 {
  font-weight: 900;
  font-size: 2.25rem;
  color: $primary;
  margin: 0 0 .5rem;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  color: white;
  background: $primary;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
  margin-top: 10px;
  margin-bottom: 12px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 71rem;
  margin: auto;
  gap: 9.4rem;
  padding-bottom: 10.5rem;

  .login-container {
    padding: 1.5rem;
    border: solid 1px #f3f3f3;

    button {
      margin-top: 2rem;
    }

    .input-field {
      padding-top: 1rem;
      line-height: 30px;

      label {
        font-size: 0.80rem;
        font-weight: bold;
      }

      input {
        width: 27rem;
        height: 2.3rem;
        border: 1px solid $primary-dark;
        background-color: #fff;
        border-radius: 2px;
        line-height: 27px;
        font-size: 16px;
        padding-left: 12px;
      }
    }
  }

  .register-container {
    padding: 1.5rem;
    border: solid 1px #f3f3f3;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 20px 0 0;

      li {
        padding-bottom: 0.85rem;
        display: flex;

        .material-symbols-outlined {
          padding-right: 10px;
        }
      }
    }
  }
}
