@use "../../variables" as *;

app-webshop-product-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.featured-section {
  padding-left: 12vw;
  text-align: left;
  margin: 2rem 0;

  .featured-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: $primary;
    font-weight: bold;
  }
}
